{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepass" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Current Password" required type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" required type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmnew" name="confirmnew" placeholder="Confirm New Password" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}